.teamContainer {
    background-color: #445a64;
    min-height: calc(100vh - 4.5rem);
    width: 100vw;
    max-width: 400px;
    h3 {
        color: white;
        font-weight: 400;
        font-size: 1rem;
        margin: 0;
        padding: 0.75rem 2rem;
    }
    h4 {
        color: white;
        font-weight: 400;
        font-size: 0.75rem;
        margin: 0 0 0 2rem;
    }
    .memberCard {
        background-color: white;
        box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3) inset;
        margin: 0.5rem 0;
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .memberProfile {
            display: flex;
            align-items: center;
            img {
                border-radius: 50%;
                height: 2.5rem;
                border: 0.1rem solid black;
            }
            .memberProfileName {
                margin-left: 0.5rem;
                h4 {
                    color: black;
                    margin: 0;
                    font-weight: 600;
                }
                p {
                    margin: 0;
                    padding: 0;
                    font-weight: 400;
                    font-size: 0.75rem;
                }
            }
        }
        .numberContact {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2 {
                margin: 0;
            }
            h3 {
                color: black;
                font-size: 1rem;
                font-weight: 600;
                border-bottom: 2px solid black;
                padding: 0;
                margin-left: 1rem;
                cursor: pointer;
            }
        }
    }
    .contact {
        position: fixed;
        width: 100vw;
        max-width: 400px;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .contactCard {
            background-color: white;
            box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3) inset;
            padding: 1rem 2rem;
            position: absolute;
            width: calc(400px - 64px);
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            justify-content: space-between;
            .contactInfo {
                display: flex;
                justify-content: center;
                flex-direction: column;
                h4 {
                    color: black;
                    margin: 0;
                    span {
                        font-weight: 600;
                    }
                }
            }
            h3 {
                margin: 0;
                color: black;
                font-weight: 600;
                font-size: rem;
                cursor: pointer;
            }

        }
    }
}
@media  screen and (min-width: 400px) {
    .teamContainer {
        width: 400px;
    }
}